<div class="row col-xs-6 receipt">
  <i class="fa fa-eur" id="euro"></i>
  <i class="fa fa-usd" id="us"></i>






<h1>Thank You!</h1>

   Table name: <%= @table.name %><br>
   Number of people: <%= @party.nmofpeople %><br>
   Server: <%= @party.server.name %>

    <table class="table col-xs-6">
      <thead class="bill_table ">
          <tr>
            <th>Food Item</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%=  order.food.name %></td>
              <td> <%= order.quantity %></td>
              <td class="price"><%= number_with_precision(order.food.price, :precision => 2) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <div class="row bill">
    <h3>Total :<span class='dollar'>$</span>
        <span class="price">
        <%= number_with_precision(@party.bill, :precision => 2) %>
      </span>
    </h3>

     <% @tax = @party.bill-(@party.bill*0.8875) %>

    <h4>tax: <span class='dollar'>$</span>
      <span class="price">
      <%= number_with_precision(@tax, :precision => 2) %>
    </span>
    </h4>

   <% @includeTax = @tax+@party.bill %>

    <h3>Total include tax: <span class='dollar'>$</span>
<span class="price">
      <%= number_with_precision(@includeTax, :precision => 2) %>
    </span>
  </h3>
    <h4>recommended tips: </h4>
    <h4>10%: <span class='dollar'>$</span>
<span class="price">
       <%= '%.2f' % (@includeTax*0.10) %>
</span>
     </h4>
    <h4>15%: <span class='dollar'>$</span>
<span class="price">
      <%= '%.2f' % (@includeTax*0.15) %>
</span>
    </h4>
    <h4>20%: <span class='dollar'>$</span>
<span class="price">
      <%= '%.2f' % (@includeTax*0.2) %>
</span>
    </h4>

    <%= form_for @party do |party|%>
      <%= party.hidden_field :pay_status, :value => true %>
      <%= party.submit '** PAID **' ,class: 'btn btn-info'%>
    <%end%>
    </div>
</div>
