<h1>List of parties!People</h1>

<% @parties.each do |party| %>
<%# binding.pry %>
  <h3> <%= party.nmofpeople %> </h3>
  <p> <%= party.pay_status %> </p>
  <h5> Bill: <%= party.bill %> </h5>
  <h5> Description: <%= party.mood %> </h5>
  <span>
    <%= link_to "Edit party", edit_party_path(party.id) %>
    <%= link_to "View party", party_path(party.id) %>
    <%= link_to "Delete party", party_path(party.id), method: 'delete' %>
  </span>
<% end %>

<h4> <%= link_to "New party", new_party_path %>  </h4>
<!-- # t.integer :nmofpeople
# t.boolean :pay_status
# t.decimal :bill
# t.string :mood
# t.integer :order_id
# t.integer :table_id -->
