<div class="row create">
<%= form_for @party , :class => "form" do |f| %>
<div class="form-group">
  <%= label_tag 'name', 'table:' %><br>
  <%= f.collection_select :table_id, @tables, :id, :name, include_blank: true %>
</div>
  <div class="form-group">
    <%= label_tag 'name', 'server:' %><br>
  <%= f.collection_select :server_id, Server.all, :id, :name, include_blank: true %>
  </div>
  <div class="form-group">
  <%= f.label :nmofpeople, "Number of people:" %><br>
  <%= f.number_field :nmofpeople %>
  </div>
  <div class="form-group">
  <%= label :pay_status, "no paid" %>
  <%= f.radio_button :pay_status, false , :checked => true , :value => false %>
</br>
<div class="form-group">
  <%= f.label :mood, "mood:" %><br>
  <%= f.text_field :mood %>
</div>
  <%= f.submit "create party", class: 'btn btn-success' %>

<% end %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>

</div>
</div>
