<div class="row party">
<h1>your party</h1>
<ul>
  <li>number of people: <%= @party.nmofpeople %></li>
  <li>pay status: <%= @party.pay_status %></li>
  <li>Mood: <%= @party.mood %></li>
  <li>table name: <%= @party.table.name %></li>
  <li>location: <%= @party.table.location %></li>

  <li> orders:
    <%= button_to "new order", new_party_order_path(@party.id), method: 'get', class: "btn btn-success" %>
      <ol>
        <% @total = 0 %>
          <% @orders.each do |order| %>
          <% if order.party==nil %>
          <% else %>
            <% if @party.id == order.party.id %>
            <li>
              <% if  order.active %>
              <h4>Ready</h4>
              <% else %>
              <h3>On the way</h3>
              <% end %>
              <%= order.quantity %>  *  <%= order.food.name %> :<%= order.food.price%>$
              <% @total+=order.food.price*order.quantity %>
              <%= button_to "Delete order", order_path(order.id), method: 'delete', class: "btn btn-danger" %>

            </li>
          <% end %>

          <% end %>

          <% end %>
      </ol>
    </li>
  </ul>
  <h3>TOTAL: $<%= @total %></h3>
  <%= form_for @party do |party|%>
    <%= party.hidden_field :bill, :value => @total %>
    <%= party.submit 'prepare bill' , class: "btn btn-info"%>
  <%end%>


    <div class="nav">
    <%= button_to 'Edit party', edit_party_path(@party), method: :get, class: "btn btn-warning" %>
    <!-- <a class="btn btn-primary" href="/voyages" role="button">Back to voyages</a> -->
    <a class="btn btn-primary" href="/parties" role="button">Back to parties</a>

  </div>
  </div>
