<%= button_to "Log Out", sessions_path, class: 'btn btn-danger', method: :delete %>

<div class="row" id='admin'>
  <h1>Welcome <%= current_admin.name %> !</h1>
<h2>Add server name</h2>
   <%= form_for @server do |f| %>
     <%= f.text_field :name %>
     <%= f.submit 'ADD', class: "btn btn-success" %>
   <% end %>

     <% @servers.each do |server| %>
     <h5> <%= server.name %></h5>
     <%= button_to 'Remove Server', admin_path(server), method: :delete, class: "btn btn-danger" %>
   <% end %>

</div>
 <%#= link_to "Go to main page", root_path %>
