<div class="row" id ='weclome'>
  <h1><span>GekkoRest</span>
<img src="/img/geko.png" alt="" />
  </h1>
  <% if current_admin!= nil %>
  <%= current_admin.name %>
  <%= button_to "Log Out", sessions_path, class: 'btn btn-danger', method: :delete %>
  <% elsif %>
  <%= button_to "Admin Log In", log_in_path, class: 'btn btn-primary', method: :get %>
  <% end %>
  <%= button_to "START", parties_path, class: 'btn btn-info', method: :get %>
  <%= button_to "Chef", orders_path, class: 'btn btn-warning', method: :get %>
</div>
