<h3>Ready? <%#= current_admin.name %></h3>

<%#= button_to "Log Out", sessions_path, method: :delete %>
<%#= render "form" %>

<%= form_for @order do |f|  %>
  <%#= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  <!-- <%#= f.collection_select :party_id, Party.all, :id, :name, include_blank: true %> -->
  <%#= f.label :quantity, "Quantity" %>
  <%#= f.number_field :quantity %>
  <%#= f.label :comment, "Comment to order" %>
  <%#= f.text_field :comment %>
  <%= label :active, "on the list" %>
  <%= f.radio_button :active, false , :checked => true , :value => false %><br>
  <%= label :active, "done"%>
  <%= f.radio_button :active, true, :value => true%><br>

  <%-# Server: <%= current_server.name <br> -%>
  <%= f.submit 'edit order', class: 'btn btn-success'%>

<% end %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
