<div class="row parties">
<h1>List of current orders!yammi</h1>


  <table class = "table">
    <thead>
        <tr>
          <th>Table #</th>
          <th>Food Item</th>
          <th>Time Ordered</th>
          <!-- <th>Status</th> -->
          <th>Quantity</th>
          <th>Category</th>
          <th>Comment</th>
          <!-- <th>Price</th> -->
          <th>Ready?</th>
        </tr>
      </thead>
      <tbody id="order-time">

        <% @orders.each do |order| %>
        <% if order.party == nil %>
          <% else %>
              <% if  order.active==true%>
              <% else %>
              <tr data-timer="<%= order.order_time %>">
            <td>
              <%= order.party.table.name %>
            </td>
            <td>
              <%= order.food.name %>
            </td>
            <td>
              <%= order.order_time.round %> Minutes Ago
            </td>
            <!-- <td>
              on the list
            </td> -->
            <td>
              <%= order.quantity %>
            </td>
            <td>
              <%= order.food.category %>
            </td>
            <td>
              <%= order.comment %>
            </td>
            <!-- <td>
              <%#= order.food.price %>
            </td> -->

        <!-- <h3>For table: <%#=order.party.table.name %></h3>
        <h3> Name: <%#= order.food.name %> </h3>
        <h3>Time ordered</h3>
        <h4>Status :  on the list </h4>
        <p>Quantity:  <%#= order.quantity %></p>
        <p>Category:  <%#= order.food.category %> </p>
        <p>Comment: <%#= order.comment %></p>
        <h5> Price: <%#=order.food.price %> </h5> -->
            <td>
              <%= button_to "Edit order", edit_order_path(order.id), method: 'get', class: "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<h2><span>you're not you when you're hungry!</span></h2>
</div>
