<h1>List of current orders!yammi</h1>
<ol>
<% @orders.each do |order| %>
<% if order.party == nil %>
  <% else %>
      <% if  order.active==true%>
      <% else %>
  <li>
    <h3>For table: <%=order.party.table.name %></h3>
    <h3> Name: <%= order.food.name %> </h3>
    <h4>Status :  on the list </h4>
    <p>Quantity:  <%= order.quantity %></p>
    <p>Category:  <%= order.food.category %> </p>
    <p>Comment: <%= order.comment %></p>
    <h5> Price: <%=order.food.price %> </h5>
  </li>
  <%= button_to "Edit order", edit_order_path(order.id), method: 'get', class: "btn btn-warning" %>
    <% end %>
  <% end %>
<% end %>
</ol>
<h1><%= link_to "List of parties", parties_path %></h1>
