<div class="row">
<%= form_for @order, url: party_orders_path do |f|  %>
  <%= label_tag 'name', 'food item' %><br>
  <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  <%= f.hidden_field :party_id, value: @party['id']%><br>
  <%= label_tag 'name', 'quantity' %><br>
  <%= f.number_field :quantity %><br>
  <%= f.label :comment, "Comment to order" %><br>
  <%= f.text_field :comment %><br>

  <%= f.submit "add order", class: 'btn btn-success'%>

<% end %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>

<%= link_to "Back to party", party_path(@party.id) %>
</div>
