<div class="row parties">
  <h1>List of Tables!Tablet descs</h1>
  <%= button_to "new table", new_table_path, method: 'get', class: "btn btn-success" %>

  <% @tables.each do |table| %>
    <h3>Table name <%= table.name %> </h3>
    <p> Table status: <%= table.status %> </p>
    <p> Table shape: <%= table.shape %> </p>
    <p>Table location: <%= table.location %> </p>
    <%= button_to "Delete table", table_path(table.id), method: 'delete', class: "btn btn-danger" %>
    <%= button_to "Edit table", edit_table_path(table.id), method: 'get', class: "btn btn-warning" %>
    <%= button_to "View table", table_path(table.id), method: 'get', class: "btn btn-info" %>

  <% end %>
</div>
