<div class="row edit_mode">
  <div class="inside">
<h3>Welcome <%= current_admin.name %>:Edit food!</h3>

<%= button_to "Log Out", sessions_path, method: :delete , class: 'btn btn-danger'%>

<%= form_for @food do |f| %>
  <%= f.label :name, "Name of course" %>
  <%= f.text_field :name %><br>
  <%= f.label :category, "Category" %>
  <%= f.text_field :category %><br>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %><br>
  <%= f.label :price, "Price" %>
  <%= f.number_field :price %><br>
  <%-# Admin: <%= current_admin.username <br> -%>
  <%= f.submit 'SAVE', class: 'btn btn-success'%>

<% end %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
</div>
</div>
