<div class="row parties">
<h1>woow food!yammi</h1>
<%= button_to "New food", new_food_path, method: 'get', class: "btn btn-success" %>

<% @foods.each do |food| %>
  <h3> Name: <%= food.name %> </h3>
  <p> Category: <%= food.category %> </p>
  <h5> Price: $<%=food.price %> </h5>
  <h5> Description: <%= food.description %> </h5>
  <span>
    <%= link_to "Edit food", edit_food_path(food.id) %>
    <%= link_to "View food", food_path(food.id) %>
    <%= link_to "Delete food", food_path(food.id), method: 'delete' %>
  </span>
<% end %>
</div>


<!-- t.string :name
t.string :category
t.decimal :price
t.text :description -->
